hostname: UNIQUE_hostname
password: some_pasword
environment: production
test_hcitool_response: false
hcitool_path: /usr/bin/hcitool
base_url: http://server.com
config_check_delay: 30
exit_if_config_changed: true
paths:
  users: /users.json
  stations: /stations.json
  user_locations: /user_locations.json
  data_points: /data_points.json
deployment_fanfare:
  delay: 30
  play_sound: true
  sound_file: ./assets/victory_fanfare.mp3
  sound_player_command: /usr/bin/omxplayer
