hostname: UNIQUE_hostname
password: some_pasword
environment: production
test_hcitool_response: false
hcitool_path: /usr/bin/hcitool
base_url: http://server.com
paths:
  users: /users.json
  stations: /stations.json
  user_locations: /user_locations.json
  
